$black: #111111;
$dark-red: #91272c;
$dark-gray: #222222;
$gray: #777777;
$red: #ff3f49;
$very-dark-red: #461215;
$white: #ffffff;

$transparent-black: rgba(17, 17, 17, 0);
$transparent-dark-gray: rgba(34, 34, 34, 0);

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: $dark-red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $very-dark-red;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: $black;
    color: $white;

    .container {
        display: flex;
        min-height: 100vh;
        background-color: $black;

        .sidebar {
            width: 20%;
            padding: 20px;
            color: $white;
            position: relative;
            text-align: center;
            display: none;
            left: 0px;
            animation: sidebarColorChange 3s infinite alternate;

            @keyframes sidebarColorChange {
                0% {
                    background-color: $dark-gray;
                }

                100% {
                    background-color: $transparent-dark-gray;
                }
            }

            .close-button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 10px;
                position: absolute;
                top: -10px;
                right: -10px;
                font-size: 10px;
                color: $white;
                //transition: color 0.3s ease;

                svg {
                    width: 40px;
                    height: 40px;
                }

                &:hover {
                    color: $red;
                }

                &:active {
                    color: $very-dark-red;
                }
            }

            .sidebar-div {
                margin: 10px;
                border-radius: 20px;
                animation: sidebarDivColorChange 3s infinite alternate;

                @keyframes sidebarDivColorChange {
                    0% {
                        background-color: $black;
                    }

                    100% {
                        background-color: $dark-gray;
                    }
                }
            }

            .sidebar-image-and-my-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;

                .my-name {
                    font-size: 24px;
                    margin-top: 20px;
                }

                .profile-img {
                    border-radius: 15%;
                    width: 70%;
                    margin-bottom: 20px;
                }
            }

            .sidebar-content {
                display: flex;
                flex-direction: column;
                align-items: center;

                .sidebar-button {
                    background-color: $red;
                    color: $white;
                    font-size: 20px;
                    margin: 10px;
                    width: 90%;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: $dark-red;
                    }

                    &:active {
                        background-color: $very-dark-red;
                    }
                }
            }
        }

        .general-content {
            .show-sidebar-button {
                background-color: transparent;
                color: #ffffff;
                border: none;
                padding: 10px 15px;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                i {
                    margin: 0;
                }

                &:hover {
                    color: $red;
                }

                &:active {
                    color: $very-dark-red;
                }
            }

            .general-content-div {
                animation: generalContentDivColorChange 3s infinite alternate;

                @keyframes generalContentDivColorChange {
                    0% {
                        background-color: $dark-gray;
                    }

                    100% {
                        background-color: $black;
                    }
                }
            }

            .general-content-subcontent-div {
                animation: generalContentSubcontentDivColorChange 3s infinite alternate;

                @keyframes generalContentSubcontentDivColorChange {
                    0% {
                        background-color: $black;
                    }

                    100% {
                        background-color: $dark-gray;
                    }
                }
            }

            .who-am-i-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                margin: 0px 20px 20px 20px;

                .my-name-is-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px 20px 0px 0px;
                    margin: 20px 20px 0px 20px;
                    width: 97%;

                    h1 {
                        margin: 20px 20px 5px 20px;
                        text-align: center;
                        font-size: 40px;
                    }
                }

                .mini-autobiography-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 0px 0px 20px 20px;
                    margin: 0px 50px 20px 50px;
                    width: 97%;

                    p {
                        margin: 5px 20px 20px 20px;
                        text-align: center;
                        font-size: 24px;
                        text-align: justify;
                    }
                }

                .all-technologies-content-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    height: 70%;
                    width: 97%;
                    margin: 0px 20px 20px 20px;

                    .learned-technologies-text-div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 20px;
                        margin: 20px;

                        h1 {
                            margin: 20px;
                            text-align: center;
                            font-size: 30px;
                        }
                    }

                    .horizontally-ordered-technologies-content-div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 20px;
                        width: 1240px;
                        margin: 0px 20px 20px 20px;
                        overflow-x: scroll;
                        overflow-y: hidden;

                        .technology-div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-radius: 20px;
                            margin: 20px;

                            .technology-title {
                                font-size: 30px;
                                text-align: center;
                                margin: 20px 20px 5px 20px;
                            }

                            .technology-image {
                                border-radius: 20%;
                                height: 50px;
                                width: 50px;
                                margin: 5px 20px 20px 20px;
                            }
                        }
                    }
                }
            }

            .projects-content {
                display: none;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                width: 97%;
                margin: 0px 20px 20px 20px;

                .my-projects-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    width: 97%;
                    margin: 20px;

                    h1 {
                        margin: 20px;
                        text-align: center;
                        font-size: 36px;
                    }
                }

                .all-projects-content-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    height: 70%;
                    width: 97%;
                    margin: 0px 20px 20px 20px;

                    .vertically-ordered-projects-content-div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 20px;
                        height: 394px;
                        width: 97%;
                        margin: 20px;
                        overflow-y: scroll;
                        overflow-x: hidden;

                        .project-div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 97%;
                            border-radius: 20px;
                            margin: 20px 10px 20px 10px;

                            .project-title-and-release-date-div {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 30%;
                                margin: 20px;

                                .project-title {
                                    font-size: 30px;
                                    text-align: center;
                                    margin: 20px 20px 0px 20px;
                                }

                                .project-release-date {
                                    font-size: 30px;
                                    margin: 0px 20px 20px 20px;
                                }
                            }

                            .project-image {
                                border-radius: 20%;
                                height: 60%;
                                width: 20%;
                                margin: 20px;
                            }

                            .project-description {
                                font-size: 20px;
                                text-align: justify;
                                width: 70%;
                                margin: 20px;
                            }

                            .visit-project-button {
                                background-color: $red;
                                color: $white;
                                font-size: 26px;
                                margin: 20px;
                                width: 30%;
                                padding: 20px;
                                border: none;
                                border-radius: 20px;
                                cursor: pointer;

                                &:hover {
                                    background-color: $dark-red;
                                }

                                &:active {
                                    background-color: $very-dark-red;
                                }
                            }
                        }
                    }
                }
            }

            .profiles-content {
                display: none;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                width: 123%;
                margin: 0px 20px 20px 20px;

                .my-profiles-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    width: 97%;
                    margin: 20px;

                    h1 {
                        margin: 20px;
                        text-align: center;
                        font-size: 36px;
                    }
                }

                .all-profiles-content-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    width: 97%;
                    margin: 0px 20px 20px 20px;

                    .horizontally-ordered-profiles-content-div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 20px;
                        width: 97%;
                        margin: 20px;

                        .profile-div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 90%;
                            border-radius: 20px;
                            margin: 20px;

                            .profile-text {
                                font-size: 30px;
                                margin: 20px 20px 0px 20px;
                            }

                            .profile-image {
                                border-radius: 20%;
                                height: 73%;
                                width: 73%;
                                margin: 6% 100% 0% 100%;
                            }

                            .visit-profile-button {
                                background-color: $red;
                                color: $white;
                                font-size: 22px;
                                margin: 20px;
                                width: 50%;
                                padding: 10px;
                                border: none;
                                border-radius: 20px;
                                cursor: pointer;

                                &:hover {
                                    background-color: $dark-red;
                                }

                                &:active {
                                    background-color: $very-dark-red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}