$black: #111111;
$dark-red: #7e2428;
$dark-gray: #222222;
$gray: #777777;
$red: #ff3f49;
$very-dark-red: #461215;
$white: #ffffff;

$transparent-black: rgba(17, 17, 17, 0);
$transparent-dark-gray: rgba(34, 34, 34, 0);

@mixin color-bg-transition($color1, $color2, $animation-name: colorChange) {
    animation: #{$animation-name} 3s infinite alternate;

    @keyframes #{$animation-name} {
        0% {
            background-color: $color1;
        }

        100% {
            background-color: $color2;
        }
    }
}

@mixin general-button-content() {
    background-color: $red;
    border: none;
    border-radius: 20px;
    color: $white;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;

    &:hover {
        background-color: $dark-red;
    }

    &:active {
        background-color: $very-dark-red;
    }
}

::-webkit-scrollbar {
    height: 20px;
    width: 20px;
}

::-webkit-scrollbar-track {
    background: $dark-red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $very-dark-red;
}

body {
    background-color: $black;
    color: $white;
    font-family: Arial, sans-serif;
    margin: 0;

    .container {
        background-color: $black;
        display: flex;
        min-height: 100vh;

        .sidebar {
            color: $white;
            display: none;
            left: 0px;
            padding: 20px;
            position: relative;
            text-align: center;
            width: 25%;
            @include color-bg-transition($dark-gray, $transparent-dark-gray, sidebarColorChange);

            .close-button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 10px;
                position: absolute;
                top: -10px;
                right: -10px;
                font-size: 10px;
                color: $white;
                //transition: color 0.3s ease;

                svg {
                    width: 40px;
                    height: 40px;
                }

                &:hover {
                    color: $red;
                }

                &:active {
                    color: $very-dark-red;
                }
            }

            .sidebar-div {
                border-radius: 20px;
                margin: 10px;
                @include color-bg-transition($black, $dark-gray, sidebarDivColorChange);
            }

            .sidebar-image-and-my-name {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .my-name {
                    font-size: 140%;
                    margin-top: 20px;
                }

                .profile-img {
                    border-radius: 15%;
                    margin-bottom: 20px;
                    width: 70%;
                }
            }

            .sidebar-content {
                align-items: center;
                flex-direction: column;
                display: flex;

                .sidebar-button {
                    font-size: 120%;
                    width: 90%;

                    @include general-button-content();
                }
            }
        }

        .general-content {
            .show-sidebar-button {
                background-color: transparent;
                color: #ffffff;
                border: none;
                padding: 10px 15px;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                i {
                    margin: 0;
                }

                &:hover {
                    color: $red;
                }

                &:active {
                    color: $very-dark-red;
                }
            }

            .general-content-div {
                @include color-bg-transition($dark-gray, $black, generalContentDivColorChange);
            }

            .general-content-subcontent-div {
                @include color-bg-transition($black, $dark-gray, generalContentSubcontentDivColorChange);
            }

            .who-am-i-content {
                display: none;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                margin: 0px 20px 20px 20px;

                .my-name-is-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px 20px 0px 0px;
                    margin: 20px 20px 0px 20px;

                    h1 {
                        margin: 20px 80px 5px 80px;
                        text-align: center;
                        font-size: 35px;
                    }
                }

                .mini-autobiography-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    margin: 0px 80px 20px 80px;
                    width: 97%;
                    height: 50%;

                    p {
                        margin: 20px;
                        text-align: center;
                        font-size: 25px;
                        text-align: justify;
                    }
                }

                .all-technologies-content-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    height: 70%;
                    width: 97%;
                    margin: 0px 20px 20px 20px;

                    .learned-technologies-text-div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 20px;
                        margin: 20px;

                        h1 {
                            margin: 20px;
                            text-align: center;
                            font-size: 30px;
                        }
                    }

                    .horizontally-ordered-technologies-content-div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 20px;
                        margin: 0px 20px 20px 20px;
                        overflow-x: scroll;
                        overflow-y: hidden;

                        .technology-div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-radius: 20px;
                            margin: 20px;

                            .technology-title {
                                font-size: 25px;
                                text-align: center;
                                margin: 20px 20px 5px 20px;
                            }

                            .technology-image {
                                border-radius: 20%;
                                height: 40px;
                                width: 40px;
                                margin: 5px 20px 20px 20px;
                            }
                        }
                    }
                }
            }

            .projects-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                margin: 0px 20px 20px 20px;

                .my-projects-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    width: 97%;
                    margin: 20px;

                    h1 {
                        margin: 20px;
                        text-align: center;
                        font-size: 36px;
                    }
                }

                .all-projects-content-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    height: 70%;
                    width: 97%;
                    margin: 0px 20px 20px 20px;

                    .vertically-ordered-projects-content-div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 20px;
                        height: 394px;
                        width: 97%;
                        margin: 20px;
                        overflow-y: scroll;
                        overflow-x: hidden;

                        .project-div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 97%;
                            border-radius: 20px;
                            margin: 20px 10px 20px 10px;

                            .project-title-and-release-date-div {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 30%;
                                margin: 20px;

                                .project-title {
                                    font-size: 25px;
                                    text-align: center;
                                    margin: 20px 20px 0px 20px;
                                }

                                .project-release-date {
                                    font-size: 25px;
                                    margin: 0px 20px 20px 20px;
                                }
                            }

                            .project-image {
                                border-radius: 20%;
                                height: 140px;
                                width: 140px;
                                margin: 20px;
                            }

                            .project-description {
                                font-size: 20px;
                                text-align: justify;
                                width: 70%;
                                margin: 20px;
                            }

                            .project-buttons {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;

                                .project-button {
                                    font-size: 120%;

                                    @include general-button-content();
                                }
                            }

                        }
                    }
                }
            }

            .profiles-content {
                display: none;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                margin: 0px 20px 20px 20px;

                .my-profiles-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    margin: 20px;

                    h1 {
                        margin: 20px;
                        text-align: center;
                        font-size: 36px;
                    }
                }

                .all-profiles-content-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    width: 97%;
                    margin: 0px 20px 20px 20px;

                    .horizontally-ordered-profiles-content-div {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        margin: 20px;

                        .profile-div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-radius: 20px;
                            margin: 20px;

                            .profile-text {
                                font-size: 30px;
                                margin: 20px 20px 0px 20px;
                            }

                            .profile-image {
                                border-radius: 20%;
                                height: 216px;
                                width: 216px;
                                margin: 10px 20px;
                            }

                            .visit-profile-button {
                                font-size: 120%;
                                width: 60%;

                                @include general-button-content();
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {

    .sidebar-button,
    .visit-profile-button,
    .visit-project-button {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}


@media (max-width: 575.98px) {
    .horizontally-ordered-technologies-content-div {
        width: 300px;
    }
}

@media (min-width: 576px) {
    .horizontally-ordered-technologies-content-div {
        width: 376px;
    }
    
    .project-div {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .horizontally-ordered-technologies-content-div {
        width: 568px;
    }
}

@media (min-width: 992px) {
    .horizontally-ordered-technologies-content-div {
        width: 792px;
    }
}

@media (min-width: 1200px) {
    .horizontally-ordered-technologies-content-div {
        width: 1000px;
    }
}

@media (min-width: 1400px) {
    .horizontally-ordered-technologies-content-div {
        width: 1200px;
    }
}