::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #7e2428;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff3f49;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #461215;
}

body {
  background-color: #111111;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}
body .container {
  background-color: #111111;
  display: flex;
  min-height: 100vh;
}
body .container .sidebar {
  color: #ffffff;
  display: none;
  left: 0px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 25%;
  animation: sidebarColorChange 3s infinite alternate;
}
@keyframes sidebarColorChange {
  0% {
    background-color: #222222;
  }
  100% {
    background-color: rgba(34, 34, 34, 0);
  }
}
body .container .sidebar .close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  color: #ffffff;
}
body .container .sidebar .close-button svg {
  width: 40px;
  height: 40px;
}
body .container .sidebar .close-button:hover {
  color: #ff3f49;
}
body .container .sidebar .close-button:active {
  color: #461215;
}
body .container .sidebar .sidebar-div {
  border-radius: 20px;
  margin: 10px;
  animation: sidebarDivColorChange 3s infinite alternate;
}
@keyframes sidebarDivColorChange {
  0% {
    background-color: #111111;
  }
  100% {
    background-color: #222222;
  }
}
body .container .sidebar .sidebar-image-and-my-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
body .container .sidebar .sidebar-image-and-my-name .my-name {
  font-size: 140%;
  margin-top: 20px;
}
body .container .sidebar .sidebar-image-and-my-name .profile-img {
  border-radius: 15%;
  margin-bottom: 20px;
  width: 70%;
}
body .container .sidebar .sidebar-content {
  align-items: center;
  flex-direction: column;
  display: flex;
}
body .container .sidebar .sidebar-content .sidebar-button {
  font-size: 120%;
  width: 90%;
  background-color: #ff3f49;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}
body .container .sidebar .sidebar-content .sidebar-button:hover {
  background-color: #7e2428;
}
body .container .sidebar .sidebar-content .sidebar-button:active {
  background-color: #461215;
}
body .container .general-content .show-sidebar-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container .general-content .show-sidebar-button i {
  margin: 0;
}
body .container .general-content .show-sidebar-button:hover {
  color: #ff3f49;
}
body .container .general-content .show-sidebar-button:active {
  color: #461215;
}
body .container .general-content .general-content-div {
  animation: generalContentDivColorChange 3s infinite alternate;
}
@keyframes generalContentDivColorChange {
  0% {
    background-color: #222222;
  }
  100% {
    background-color: #111111;
  }
}
body .container .general-content .general-content-subcontent-div {
  animation: generalContentSubcontentDivColorChange 3s infinite alternate;
}
@keyframes generalContentSubcontentDivColorChange {
  0% {
    background-color: #111111;
  }
  100% {
    background-color: #222222;
  }
}
body .container .general-content .who-am-i-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .who-am-i-content .my-name-is-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  margin: 20px 20px 0px 20px;
}
body .container .general-content .who-am-i-content .my-name-is-text-div h1 {
  margin: 20px 80px 5px 80px;
  text-align: center;
  font-size: 35px;
}
body .container .general-content .who-am-i-content .mini-autobiography-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0px 80px 20px 80px;
  width: 97%;
  height: 50%;
}
body .container .general-content .who-am-i-content .mini-autobiography-text-div p {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  text-align: justify;
}
body .container .general-content .who-am-i-content .all-technologies-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  height: 70%;
  width: 97%;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .who-am-i-content .all-technologies-content-div .learned-technologies-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
}
body .container .general-content .who-am-i-content .all-technologies-content-div .learned-technologies-text-div h1 {
  margin: 20px;
  text-align: center;
  font-size: 30px;
}
body .container .general-content .who-am-i-content .all-technologies-content-div .horizontally-ordered-technologies-content-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  margin: 0px 20px 20px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
body .container .general-content .who-am-i-content .all-technologies-content-div .horizontally-ordered-technologies-content-div .technology-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
}
body .container .general-content .who-am-i-content .all-technologies-content-div .horizontally-ordered-technologies-content-div .technology-div .technology-title {
  font-size: 25px;
  text-align: center;
  margin: 20px 20px 5px 20px;
}
body .container .general-content .who-am-i-content .all-technologies-content-div .horizontally-ordered-technologies-content-div .technology-div .technology-image {
  border-radius: 20%;
  height: 40px;
  width: 40px;
  margin: 5px 20px 20px 20px;
}
body .container .general-content .projects-content {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .projects-content .my-projects-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 97%;
  margin: 20px;
}
body .container .general-content .projects-content .my-projects-text-div h1 {
  margin: 20px;
  text-align: center;
  font-size: 36px;
}
body .container .general-content .projects-content .all-projects-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  height: 70%;
  width: 97%;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  height: 394px;
  width: 97%;
  margin: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
  border-radius: 20px;
  margin: 20px 10px 20px 10px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .project-title-and-release-date-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .project-title-and-release-date-div .project-title {
  font-size: 30px;
  text-align: center;
  margin: 20px 20px 0px 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .project-title-and-release-date-div .project-release-date {
  font-size: 30px;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .project-image {
  border-radius: 20%;
  height: 60%;
  width: 20%;
  margin: 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .project-description {
  font-size: 20px;
  text-align: justify;
  width: 70%;
  margin: 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .visit-project-button {
  font-size: 120%;
  background-color: #ff3f49;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .visit-project-button:hover {
  background-color: #7e2428;
}
body .container .general-content .projects-content .all-projects-content-div .vertically-ordered-projects-content-div .project-div .visit-project-button:active {
  background-color: #461215;
}
body .container .general-content .profiles-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 123%;
  border-radius: 20px;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .profiles-content .my-profiles-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 97%;
  margin: 20px;
}
body .container .general-content .profiles-content .my-profiles-text-div h1 {
  margin: 20px;
  text-align: center;
  font-size: 36px;
}
body .container .general-content .profiles-content .all-profiles-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 97%;
  margin: 0px 20px 20px 20px;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  width: 97%;
  margin: 20px;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div .profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  margin: 20px;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div .profile-div .profile-text {
  font-size: 30px;
  margin: 20px 20px 0px 20px;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div .profile-div .profile-image {
  border-radius: 20%;
  height: 73%;
  width: 73%;
  margin: 6% 100% 0% 100%;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div .profile-div .visit-profile-button {
  font-size: 120%;
  width: 60%;
  background-color: #ff3f49;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div .profile-div .visit-profile-button:hover {
  background-color: #7e2428;
}
body .container .general-content .profiles-content .all-profiles-content-div .horizontally-ordered-profiles-content-div .profile-div .visit-profile-button:active {
  background-color: #461215;
}

@media only screen and (max-width: 400px) {
  .sidebar-button,
  .visit-profile-button,
  .visit-project-button {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
@media (max-width: 575.98px) {
  .horizontally-ordered-technologies-content-div {
    width: 300px;
  }
}
@media (min-width: 576px) {
  .horizontally-ordered-technologies-content-div {
    width: 376px;
  }
}
@media (min-width: 768px) {
  .horizontally-ordered-technologies-content-div {
    width: 568px;
  }
}
@media (min-width: 992px) {
  .horizontally-ordered-technologies-content-div {
    width: 792px;
  }
}
@media (min-width: 1200px) {
  .horizontally-ordered-technologies-content-div {
    width: 1000px;
  }
}
@media (min-width: 1400px) {
  .horizontally-ordered-technologies-content-div {
    width: 1200px;
  }
}

/*# sourceMappingURL=styles.css.map */
