body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111111;
  color: #ffffff;
}
body .container {
  display: flex;
  min-height: 100vh;
  background-color: #111111;
}
body .container .sidebar {
  width: 20%;
  padding: 20px;
  color: #ffffff;
  position: relative;
  text-align: center;
  display: none;
  left: 0px;
  animation: sidebarColorChange 3s infinite alternate;
}
@keyframes sidebarColorChange {
  0% {
    background-color: #222222;
  }
  100% {
    background-color: rgba(34, 34, 34, 0);
  }
}
body .container .sidebar .close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  color: #ffffff;
}
body .container .sidebar .close-button svg {
  width: 40px;
  height: 40px;
}
body .container .sidebar .close-button:hover {
  color: #ff3f49;
}
body .container .sidebar .close-button:active {
  color: #461215;
}
body .container .sidebar .sidebar-div {
  margin: 10px;
  border-radius: 20px;
  animation: sidebarDivColorChange 3s infinite alternate;
}
@keyframes sidebarDivColorChange {
  0% {
    background-color: #111111;
  }
  100% {
    background-color: #222222;
  }
}
body .container .sidebar .sidebar-image-and-my-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
body .container .sidebar .sidebar-image-and-my-name .my-name {
  font-size: 24px;
  margin-top: 20px;
}
body .container .sidebar .sidebar-image-and-my-name .profile-img {
  border-radius: 20%;
  width: 160px;
  margin-bottom: 20px;
}
body .container .sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .sidebar .sidebar-content .sidebar-button {
  background-color: #ff3f49;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
body .container .sidebar .sidebar-content .sidebar-button:hover {
  background-color: #91272c;
}
body .container .sidebar .sidebar-content .sidebar-button:active {
  background-color: #461215;
}
body .container .general-content .show-sidebar-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container .general-content .show-sidebar-button i {
  margin: 0;
}
body .container .general-content .show-sidebar-button:hover {
  color: #ff3f49;
}
body .container .general-content .show-sidebar-button:active {
  color: #461215;
}
body .container .general-content .who-am-i-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0px 20px 20px 20px;
  background-color: #222222;
}
body .container .general-content .who-am-i-content .who-am-i-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  background-color: #111111;
}
body .container .general-content .who-am-i-content .who-am-i-text-div h1 {
  margin: 20px;
  text-align: center;
  font-size: 70.9px;
}
body .container .general-content .who-am-i-content .my-name-is-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  margin: 20px 20px 0px 20px;
  background-color: #111111;
}
body .container .general-content .who-am-i-content .my-name-is-text-div h1 {
  margin: 20px;
  text-align: center;
  font-size: 40px;
}
body .container .general-content .who-am-i-content .mini-autobiography-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0px 50px 20px 50px;
  background-color: #111111;
}
body .container .general-content .who-am-i-content .mini-autobiography-text-div p {
  margin: 10px;
  text-align: center;
  font-size: 70px;
}
body .container .general-content .projects-content {
  display: none;
}
body .container .general-content .profiles-content {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
